[build]
builder = "nixpacks"
buildCommand = "npm run build"

[deploy]
startCommand = "npm start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"

# Pass environment variables to the build process
[build.env]
NIXPACKS_NODE_VERSION = "20"
NEXT_PUBLIC_SUPABASE_URL = "${NEXT_PUBLIC_SUPABASE_URL}"
NEXT_PUBLIC_SUPABASE_ANON_KEY = "${NEXT_PUBLIC_SUPABASE_ANON_KEY}"
NEXT_PUBLIC_BASE_URL = "${NEXT_PUBLIC_BASE_URL}"
MIDTRANS_IS_PRODUCTION = "${MIDTRANS_IS_PRODUCTION}"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY = "${NEXT_PUBLIC_MIDTRANS_CLIENT_KEY}"
